
* {
  margin: 0;
  padding: 0;
}
html {
  background:  #FFBCD1;
 
}
body {
font-family: 'Epilogue';
overflow: scroll;
}

.fa-sharp {
  color: #01070e;
  font-size: 30px;
  margin:15px ;
}



.btns {
margin-top: 20px;
text-align: center;
margin-right: 40px;
}
#btn2 {
padding: 10;
border-radius: 15px;
border: 1px solid hsl(0, 0%, 41%);
}
.container-content {
animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both;
position: absolute;
top: 45%;
}
.container::before {
  position: absolute;
  content: '';
  height: 500px;
  width:500px;
  border-radius: 50%;
  left: -15%;
  top:35%;
  background: linear-gradient(45deg, #221b6f , #221b6f);
} 


.container::after {
  position: absolute;
  content: '';
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 80%;
  top:10%;
  background: linear-gradient(45deg, #221b6f , #221b6f);
}
.container-content h1:nth-child(1) {
margin-right: -10px;
} 
.container-content h1 {
font-size:30px ;
font-weight: 800;
display: flex;
justify-content: center;
margin-top: 50px;
align-items: center;
color:hsl(0, 0%, 100%) ;
}
.container p {
color:hsl(0, 0%, 100%) ;
font-size: 15px;
margin: 20px;
margin-top: 5px;
font-weight: 500;
text-align: center;
line-height: 23px;
}

input {
  font-size:15px;
  border-radius: 10px;
  margin: auto;
  padding: 5px;
  display:block;
  color:hsl(0, 0%, 100%) ;
  width:70%;
  background-color: transparent;
  border:2px solid hsl(0, 0%, 100%) ;;
}

input::placeholder {
  color:hsl(0, 0%, 100%) ;
  text-align: center;
}

input:focus{ 
outline:none;
background-color: transparent;
 }
.container-btns {
display: flex;
justify-content: center;
align-items: center; 
margin-bottom: 30px; 
}

.container-btns button {
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  font-family: 'Epilogue';
  text-align: center;
  transition: .5s;
  border: none;
  outline: none;
  text-transform: uppercase;
  background: hsl(0, 0%, 8%);
  /* background: linear-gradient(to bottom,#fff 50% , #FFBCD1 50%); */
  color:hsl(0, 0%, 98%);
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 1px 4px 12px rgba(94,28,68,.15);
  transition: 1s ease;
}
.container-btns button:hover {
background: transparent;
color:hsl(0, 0%, 98%);
cursor: pointer;
}


@media only screen and (min-width: 768px) {
  body {
      overflow: hidden;
  }
  .container {
      display: flex;
      flex-direction: row-reverse;
      height: 80vh;
      width: 90%;
      margin: auto;
  }
 
  .container-content {
    animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both;
    position: absolute;
    top: 45%;
    }
  .container::before {
    position: absolute;
    content: '';
    height: 500px;
    width:500px;
    border-radius: 50%;
    left: -10%;
    top:35%;
    background: linear-gradient(45deg, #221b6f , #221b6f);
  } 
  
  
  .container::after {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 80%;
    top:10%;
    background: linear-gradient(45deg, #221b6f , #221b6f);
  }
  .container-content h1 {
      font-size: 2rem;
      text-align: left;
      width: 50%;
      margin-left: 20px;
  }

  .container-content p {  
      text-align: left;
      font-size: 15px;
      width: 50%;    
  }
  .container-btns button {
    margin-right: 350px; 
    background: hsl(0, 0%, 8%);
  }
  input {
   
    margin-left: 20px;
    width:50%;
  }
}

@media only screen and (min-width: 1024px) {
  
  .container {
      margin-top: 80px;
      height: 70vh;
      padding: 0;
      width: 75%;
  }
 
  .container-content {
    animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both;
    position: absolute;
    top: 45%;
    left: 5%;
    }
  .container::before {
    position: absolute;
    content: '';
    height: 900px;
    width:900px;
    border-radius: 50%;
    left: -5%;
    top:40%;
    background: linear-gradient(45deg, #221b6f , #221b6f);
  } 
  
  
  .container::after {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 90%;
    top:30%;
    background: linear-gradient(45deg, #221b6f , #221b6f);
  }
  .container-content h1 {
      font-size: 3rem;
      text-align: left;
      width: 50%;
      margin-top: 100px;
      margin-left: 10px;
  }
  .container-content p {
      font-size: 20px;
      width: 50%;
  }
  .container-btns {
      margin-right: 10px;
      margin-top: 20px;
  }
  .container-btns button {
      font-size: 22px; 
      padding: 11px;
  }
  

  input {
    font-size:20px ;
    margin-right: 200px;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2023-3-29 16:6:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%
 {-webkit-transform:translateY(-100px);transform:translateY(-30px)}}